# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
LatestNews/Pods/Manifest.lock
LatestNews/Pods/Alamofire/LICENSE
LatestNews/Pods/Alamofire/README.md
LatestNews/Pods/Alamofire/Source/AFError.swift
LatestNews/Pods/Alamofire/Source/Alamofire.swift
LatestNews/Pods/Alamofire/Source/AlamofireExtended.swift
LatestNews/Pods/Alamofire/Source/AuthenticationInterceptor.swift
LatestNews/Pods/Alamofire/Source/CachedResponseHandler.swift
LatestNews/Pods/Alamofire/Source/Combine.swift
LatestNews/Pods/Alamofire/Source/DispatchQueue+Alamofire.swift
LatestNews/Pods/Alamofire/Source/EventMonitor.swift
LatestNews/Pods/Alamofire/Source/HTTPHeaders.swift
LatestNews/Pods/Alamofire/Source/HTTPMethod.swift
LatestNews/Pods/Alamofire/Source/MultipartFormData.swift
LatestNews/Pods/Alamofire/Source/MultipartUpload.swift
LatestNews/Pods/Alamofire/Source/NetworkReachabilityManager.swift
LatestNews/Pods/Alamofire/Source/Notifications.swift
LatestNews/Pods/Alamofire/Source/OperationQueue+Alamofire.swift
LatestNews/Pods/Alamofire/Source/ParameterEncoder.swift
LatestNews/Pods/Alamofire/Source/ParameterEncoding.swift
LatestNews/Pods/Alamofire/Source/Protected.swift
LatestNews/Pods/Alamofire/Source/RedirectHandler.swift
LatestNews/Pods/Alamofire/Source/Request.swift
LatestNews/Pods/Alamofire/Source/RequestInterceptor.swift
LatestNews/Pods/Alamofire/Source/RequestTaskMap.swift
LatestNews/Pods/Alamofire/Source/Response.swift
LatestNews/Pods/Alamofire/Source/ResponseSerialization.swift
LatestNews/Pods/Alamofire/Source/Result+Alamofire.swift
LatestNews/Pods/Alamofire/Source/RetryPolicy.swift
LatestNews/Pods/Alamofire/Source/ServerTrustEvaluation.swift
LatestNews/Pods/Alamofire/Source/Session.swift
LatestNews/Pods/Alamofire/Source/SessionDelegate.swift
LatestNews/Pods/Alamofire/Source/StringEncoding+Alamofire.swift
LatestNews/Pods/Alamofire/Source/URLConvertible+URLRequestConvertible.swift
LatestNews/Pods/Alamofire/Source/URLEncodedFormEncoder.swift
LatestNews/Pods/Alamofire/Source/URLRequest+Alamofire.swift
LatestNews/Pods/Alamofire/Source/URLSessionConfiguration+Alamofire.swift
LatestNews/Pods/Alamofire/Source/Validation.swift
LatestNews/Pods/Moya/License.md
LatestNews/Pods/Moya/Readme.md
LatestNews/Pods/Moya/Sources/Moya/AnyEncodable.swift
LatestNews/Pods/Moya/Sources/Moya/Cancellable.swift
LatestNews/Pods/Moya/Sources/Moya/Endpoint.swift
LatestNews/Pods/Moya/Sources/Moya/Image.swift
LatestNews/Pods/Moya/Sources/Moya/Moya+Alamofire.swift
LatestNews/Pods/Moya/Sources/Moya/MoyaError.swift
LatestNews/Pods/Moya/Sources/Moya/MoyaProvider+Defaults.swift
LatestNews/Pods/Moya/Sources/Moya/MoyaProvider+Internal.swift
LatestNews/Pods/Moya/Sources/Moya/MoyaProvider.swift
LatestNews/Pods/Moya/Sources/Moya/MultipartFormData.swift
LatestNews/Pods/Moya/Sources/Moya/MultiTarget.swift
LatestNews/Pods/Moya/Sources/Moya/Plugin.swift
LatestNews/Pods/Moya/Sources/Moya/RequestTypeWrapper.swift
LatestNews/Pods/Moya/Sources/Moya/Response.swift
LatestNews/Pods/Moya/Sources/Moya/TargetType.swift
LatestNews/Pods/Moya/Sources/Moya/Task.swift
LatestNews/Pods/Moya/Sources/Moya/URL+Moya.swift
LatestNews/Pods/Moya/Sources/Moya/URLRequest+Encoding.swift
LatestNews/Pods/Moya/Sources/Moya/ValidationType.swift
LatestNews/Pods/Moya/Sources/Moya/Plugins/AccessTokenPlugin.swift
LatestNews/Pods/Moya/Sources/Moya/Plugins/CredentialsPlugin.swift
LatestNews/Pods/Moya/Sources/Moya/Plugins/NetworkActivityPlugin.swift
LatestNews/Pods/Moya/Sources/Moya/Plugins/NetworkLoggerPlugin.swift
LatestNews/Pods/Pods.xcodeproj/project.pbxproj
LatestNews/Pods/Target Support Files/Alamofire/Alamofire-dummy.m
LatestNews/Pods/Target Support Files/Alamofire/Alamofire-Info.plist
LatestNews/Pods/Target Support Files/Alamofire/Alamofire-prefix.pch
LatestNews/Pods/Target Support Files/Alamofire/Alamofire-umbrella.h
LatestNews/Pods/Target Support Files/Alamofire/Alamofire.debug.xcconfig
LatestNews/Pods/Target Support Files/Alamofire/Alamofire.modulemap
LatestNews/Pods/Target Support Files/Alamofire/Alamofire.release.xcconfig
LatestNews/Pods/Target Support Files/Moya/Moya-dummy.m
LatestNews/Pods/Target Support Files/Moya/Moya-Info.plist
LatestNews/Pods/Target Support Files/Moya/Moya-prefix.pch
LatestNews/Pods/Target Support Files/Moya/Moya-umbrella.h
LatestNews/Pods/Target Support Files/Moya/Moya.debug.xcconfig
LatestNews/Pods/Target Support Files/Moya/Moya.modulemap
LatestNews/Pods/Target Support Files/Moya/Moya.release.xcconfig
LatestNews/Pods/Target Support Files/Pods-LatestNews/Pods-LatestNews-acknowledgements.markdown
LatestNews/Pods/Target Support Files/Pods-LatestNews/Pods-LatestNews-acknowledgements.plist
LatestNews/Pods/Target Support Files/Pods-LatestNews/Pods-LatestNews-dummy.m
LatestNews/Pods/Target Support Files/Pods-LatestNews/Pods-LatestNews-frameworks-Debug-input-files.xcfilelist
LatestNews/Pods/Target Support Files/Pods-LatestNews/Pods-LatestNews-frameworks-Debug-output-files.xcfilelist
LatestNews/Pods/Target Support Files/Pods-LatestNews/Pods-LatestNews-frameworks-Release-input-files.xcfilelist
LatestNews/Pods/Target Support Files/Pods-LatestNews/Pods-LatestNews-frameworks-Release-output-files.xcfilelist
LatestNews/Pods/Target Support Files/Pods-LatestNews/Pods-LatestNews-frameworks.sh
LatestNews/Pods/Target Support Files/Pods-LatestNews/Pods-LatestNews-Info.plist
LatestNews/Pods/Target Support Files/Pods-LatestNews/Pods-LatestNews-umbrella.h
LatestNews/Pods/Target Support Files/Pods-LatestNews/Pods-LatestNews.debug.xcconfig
LatestNews/Pods/Target Support Files/Pods-LatestNews/Pods-LatestNews.modulemap
LatestNews/Pods/Target Support Files/Pods-LatestNews/Pods-LatestNews.release.xcconfig
LatestNews/Pods/MBProgressHUD/LICENSE
LatestNews/Pods/MBProgressHUD/MBProgressHUD.h
LatestNews/Pods/MBProgressHUD/MBProgressHUD.m
LatestNews/Pods/MBProgressHUD/README.mdown
LatestNews/Pods/Target Support Files/MBProgressHUD/MBProgressHUD-dummy.m
LatestNews/Pods/Target Support Files/MBProgressHUD/MBProgressHUD-Info.plist
LatestNews/Pods/Target Support Files/MBProgressHUD/MBProgressHUD-prefix.pch
LatestNews/Pods/Target Support Files/MBProgressHUD/MBProgressHUD-umbrella.h
LatestNews/Pods/Target Support Files/MBProgressHUD/MBProgressHUD.debug.xcconfig
LatestNews/Pods/Target Support Files/MBProgressHUD/MBProgressHUD.modulemap
LatestNews/Pods/Target Support Files/MBProgressHUD/MBProgressHUD.release.xcconfig
LatestNews/Pods/Nimble/LICENSE
LatestNews/Pods/Nimble/README.md
LatestNews/Pods/Nimble/Carthage/Checkouts/CwlCatchException/Sources/CwlCatchException/CwlCatchException.swift
LatestNews/Pods/Nimble/Carthage/Checkouts/CwlCatchException/Sources/CwlCatchExceptionSupport/CwlCatchException.m
LatestNews/Pods/Nimble/Carthage/Checkouts/CwlCatchException/Sources/CwlCatchExceptionSupport/include/CwlCatchException.h
LatestNews/Pods/Nimble/Carthage/Checkouts/CwlPreconditionTesting/Sources/CwlMachBadInstructionHandler/CwlMachBadInstructionHandler.m
LatestNews/Pods/Nimble/Carthage/Checkouts/CwlPreconditionTesting/Sources/CwlMachBadInstructionHandler/mach_excServer.c
LatestNews/Pods/Nimble/Carthage/Checkouts/CwlPreconditionTesting/Sources/CwlMachBadInstructionHandler/mach_excServer.h
LatestNews/Pods/Nimble/Carthage/Checkouts/CwlPreconditionTesting/Sources/CwlMachBadInstructionHandler/include/CwlMachBadInstructionHandler.h
LatestNews/Pods/Nimble/Carthage/Checkouts/CwlPreconditionTesting/Sources/CwlPreconditionTesting/CwlBadInstructionException.swift
LatestNews/Pods/Nimble/Carthage/Checkouts/CwlPreconditionTesting/Sources/CwlPreconditionTesting/CwlCatchBadInstruction.swift
LatestNews/Pods/Nimble/Carthage/Checkouts/CwlPreconditionTesting/Sources/CwlPreconditionTesting/CwlDarwinDefinitions.swift
LatestNews/Pods/Nimble/Sources/Nimble/DSL+Wait.swift
LatestNews/Pods/Nimble/Sources/Nimble/DSL.swift
LatestNews/Pods/Nimble/Sources/Nimble/Expectation.swift
LatestNews/Pods/Nimble/Sources/Nimble/ExpectationMessage.swift
LatestNews/Pods/Nimble/Sources/Nimble/Expression.swift
LatestNews/Pods/Nimble/Sources/Nimble/FailureMessage.swift
LatestNews/Pods/Nimble/Sources/Nimble/Nimble.h
LatestNews/Pods/Nimble/Sources/Nimble/Adapters/AdapterProtocols.swift
LatestNews/Pods/Nimble/Sources/Nimble/Adapters/AssertionDispatcher.swift
LatestNews/Pods/Nimble/Sources/Nimble/Adapters/AssertionRecorder.swift
LatestNews/Pods/Nimble/Sources/Nimble/Adapters/NimbleEnvironment.swift
LatestNews/Pods/Nimble/Sources/Nimble/Adapters/NimbleXCTestHandler.swift
LatestNews/Pods/Nimble/Sources/Nimble/Adapters/NMBExpectation.swift
LatestNews/Pods/Nimble/Sources/Nimble/Adapters/NMBObjCMatcher.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/AllPass.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/Async.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/BeAKindOf.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/BeAnInstanceOf.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/BeCloseTo.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/BeEmpty.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/BeginWith.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/BeginWithPrefix.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/BeGreaterThan.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/BeGreaterThanOrEqualTo.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/BeIdenticalTo.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/BeLessThan.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/BeLessThanOrEqual.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/BeLogical.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/BeNil.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/BeVoid.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/Contain.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/ContainElementSatisfying.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/ElementsEqual.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/EndWith.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/Equal.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/HaveCount.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/Match.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/MatcherFunc.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/MatcherProtocols.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/MatchError.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/PostNotification.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/Predicate.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/RaisesException.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/SatisfyAllOf.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/SatisfyAnyOf.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/ThrowAssertion.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/ThrowError.swift
LatestNews/Pods/Nimble/Sources/Nimble/Matchers/ToSucceed.swift
LatestNews/Pods/Nimble/Sources/Nimble/Utils/Await.swift
LatestNews/Pods/Nimble/Sources/Nimble/Utils/DispatchTimeInterval.swift
LatestNews/Pods/Nimble/Sources/Nimble/Utils/Errors.swift
LatestNews/Pods/Nimble/Sources/Nimble/Utils/SourceLocation.swift
LatestNews/Pods/Nimble/Sources/Nimble/Utils/Stringers.swift
LatestNews/Pods/Nimble/Sources/NimbleObjectiveC/DSL.h
LatestNews/Pods/Nimble/Sources/NimbleObjectiveC/DSL.m
LatestNews/Pods/Nimble/Sources/NimbleObjectiveC/NMBExceptionCapture.h
LatestNews/Pods/Nimble/Sources/NimbleObjectiveC/NMBExceptionCapture.m
LatestNews/Pods/Nimble/Sources/NimbleObjectiveC/NMBStringify.h
LatestNews/Pods/Nimble/Sources/NimbleObjectiveC/NMBStringify.m
LatestNews/Pods/Nimble/Sources/NimbleObjectiveC/XCTestObservationCenter+Register.m
LatestNews/Pods/Quick/LICENSE
LatestNews/Pods/Quick/README.md
LatestNews/Pods/Quick/Sources/Quick/Behavior.swift
LatestNews/Pods/Quick/Sources/Quick/Callsite.swift
LatestNews/Pods/Quick/Sources/Quick/ErrorUtility.swift
LatestNews/Pods/Quick/Sources/Quick/Example.swift
LatestNews/Pods/Quick/Sources/Quick/ExampleGroup.swift
LatestNews/Pods/Quick/Sources/Quick/ExampleMetadata.swift
LatestNews/Pods/Quick/Sources/Quick/Filter.swift
LatestNews/Pods/Quick/Sources/Quick/NSBundle+CurrentTestBundle.swift
LatestNews/Pods/Quick/Sources/Quick/QuickSelectedTestSuiteBuilder.swift
LatestNews/Pods/Quick/Sources/Quick/QuickTestObservation.swift
LatestNews/Pods/Quick/Sources/Quick/QuickTestSuite.swift
LatestNews/Pods/Quick/Sources/Quick/String+C99ExtendedIdentifier.swift
LatestNews/Pods/Quick/Sources/Quick/URL+FileName.swift
LatestNews/Pods/Quick/Sources/Quick/World.swift
LatestNews/Pods/Quick/Sources/Quick/Configuration/Configuration.swift
LatestNews/Pods/Quick/Sources/Quick/Configuration/QuickConfiguration.swift
LatestNews/Pods/Quick/Sources/Quick/DSL/DSL.swift
LatestNews/Pods/Quick/Sources/Quick/DSL/World+DSL.swift
LatestNews/Pods/Quick/Sources/Quick/Hooks/Closures.swift
LatestNews/Pods/Quick/Sources/Quick/Hooks/ExampleHooks.swift
LatestNews/Pods/Quick/Sources/Quick/Hooks/HooksPhase.swift
LatestNews/Pods/Quick/Sources/Quick/Hooks/SuiteHooks.swift
LatestNews/Pods/Quick/Sources/QuickObjCRuntime/QuickSpecBase.m
LatestNews/Pods/Quick/Sources/QuickObjCRuntime/include/QuickObjCRuntime.h
LatestNews/Pods/Quick/Sources/QuickObjCRuntime/include/QuickSpecBase.h
LatestNews/Pods/Quick/Sources/QuickObjectiveC/Quick.h
LatestNews/Pods/Quick/Sources/QuickObjectiveC/QuickSpec.h
LatestNews/Pods/Quick/Sources/QuickObjectiveC/QuickSpec.m
LatestNews/Pods/Quick/Sources/QuickObjectiveC/XCTestSuite+QuickTestSuiteBuilder.m
LatestNews/Pods/Quick/Sources/QuickObjectiveC/Configuration/QuickConfiguration.h
LatestNews/Pods/Quick/Sources/QuickObjectiveC/Configuration/QuickConfiguration.m
LatestNews/Pods/Quick/Sources/QuickObjectiveC/DSL/QCKDSL.h
LatestNews/Pods/Quick/Sources/QuickObjectiveC/DSL/QCKDSL.m
LatestNews/Pods/Target Support Files/Nimble/Nimble-dummy.m
LatestNews/Pods/Target Support Files/Nimble/Nimble-Info.plist
LatestNews/Pods/Target Support Files/Nimble/Nimble-prefix.pch
LatestNews/Pods/Target Support Files/Nimble/Nimble-umbrella.h
LatestNews/Pods/Target Support Files/Nimble/Nimble.debug.xcconfig
LatestNews/Pods/Target Support Files/Nimble/Nimble.modulemap
LatestNews/Pods/Target Support Files/Nimble/Nimble.release.xcconfig
LatestNews/Pods/Target Support Files/Pods-LatestNewsTests/Pods-LatestNewsTests-acknowledgements.markdown
LatestNews/Pods/Target Support Files/Pods-LatestNewsTests/Pods-LatestNewsTests-acknowledgements.plist
LatestNews/Pods/Target Support Files/Pods-LatestNewsTests/Pods-LatestNewsTests-dummy.m
LatestNews/Pods/Target Support Files/Pods-LatestNewsTests/Pods-LatestNewsTests-frameworks-Debug-input-files.xcfilelist
LatestNews/Pods/Target Support Files/Pods-LatestNewsTests/Pods-LatestNewsTests-frameworks-Debug-output-files.xcfilelist
LatestNews/Pods/Target Support Files/Pods-LatestNewsTests/Pods-LatestNewsTests-frameworks-Release-input-files.xcfilelist
LatestNews/Pods/Target Support Files/Pods-LatestNewsTests/Pods-LatestNewsTests-frameworks-Release-output-files.xcfilelist
LatestNews/Pods/Target Support Files/Pods-LatestNewsTests/Pods-LatestNewsTests-frameworks.sh
LatestNews/Pods/Target Support Files/Pods-LatestNewsTests/Pods-LatestNewsTests-Info.plist
LatestNews/Pods/Target Support Files/Pods-LatestNewsTests/Pods-LatestNewsTests-umbrella.h
LatestNews/Pods/Target Support Files/Pods-LatestNewsTests/Pods-LatestNewsTests.debug.xcconfig
LatestNews/Pods/Target Support Files/Pods-LatestNewsTests/Pods-LatestNewsTests.modulemap
LatestNews/Pods/Target Support Files/Pods-LatestNewsTests/Pods-LatestNewsTests.release.xcconfig
LatestNews/Pods/Target Support Files/Quick/Quick-dummy.m
LatestNews/Pods/Target Support Files/Quick/Quick-Info.plist
LatestNews/Pods/Target Support Files/Quick/Quick-prefix.pch
LatestNews/Pods/Target Support Files/Quick/Quick-umbrella.h
LatestNews/Pods/Target Support Files/Quick/Quick.debug.xcconfig
LatestNews/Pods/Target Support Files/Quick/Quick.modulemap
LatestNews/Pods/Target Support Files/Quick/Quick.release.xcconfig
